{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            <h2>Анкета {{ profile.user.username }}</h2>
        </div>
        <div class="card-body">
            <h5>О себе:</h5>
            <p>{{ profile.bio }}</p>
            
            <h5>Игровые предпочтения:</h5>
            <p>{{ profile.game_preferences }}</p>
            
            <h5>Уровень навыков:</h5>
            <p>{{ profile.skill_level }}</p>
            
            <a href="{% url 'home' %}" class="btn btn-primary">Назад к поиску</a>
        </div>
    </div>
</div>
{% endblock %}