{% extends 'base.html' %}  

{% block content %}
<div class="auth-container">
    <h2 class="auth-title">Вход в аккаунт</h2>
    
    <form method="post" class="auth-form">
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
     
        <div class="form-group">
            <label for="id_password">Пароль:</label>
            {{ form.password }}
        </div>
        
        <input type="hidden" name="next" value="/home/">
        <button type="submit">Войти</button>
        
        <div class="auth-links">
            <a href="{% url 'register' %}">Регистрация</a>
          
        </div>
    </form>
</div>
{% endblock %}